.breadcrumb_bg{
	@include background("../img/banner_bg.jpg");
}
.breadcrumb{
	position: relative;
	z-index: 1;
	text-align: left;
	margin-bottom: 0px;
	.breadcrumb_iner{
		height: 400px;
		width: 100%;
		display: table;
		.breadcrumb_iner_item{
			display: table-cell;
			vertical-align: middle;
			h1{
				color: $white_color;
				font-size: 42px;
				font-weight: 700;
				color: #2a2a2a;
				@media #{$small_mobile}{
					font-size: 35px;
				}
				@media #{$large_mobile}{
					font-size: 35px;
				}
				@media #{$tab_device}{
					font-size: 40px;
				}
				@media #{$medium_device}{

				}
			}
			p{
					font-size: 15px;
					color: 8a8a8a;
			}
			span{
					margin: 0px 5px;
					font-size: 12px;
			}
		}
	}
}
